@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

.efrApp {
  .headerArea{
    .inline{
      display: inline-block;
     }  
  }
  .dropzone{
 
    width: 100%;
    height: 500px;
    border-width: 2px;
    border-color: rgb(102, 102, 102);
    border-style: dashed;
    border-radius: 5px;
    background-color: rgba(173, 230, 225, 0.116)
  }
  .informationRequested{
    background-color: #f4f4f4;
  }
  }
   


