@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

.efrApp {
  .headerArea{
   :global {
     .ms-Label{
       text-align: right
     }
   }
  }
  .dropzone{
 
    width: 100%;
    height: 500px;
    border-width: 2px;
    border-color: rgb(102, 102, 102);
    border-style: dashed;
    border-radius: 5px;
    background-color: rgba(173, 230, 225, 0.116)
  }
  .uploadInstructions{
    font-style: italic;
    font-size: large;
   font-weight: bold;
    
  }
  .informationRequested{
    background-color: #f4f4f4;
    font-weight: bold;
  }
  }
   


