@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

.efrApp {
  .headerArea{
   :global {
     .ms-Label{
       text-align: right;
       font-family: Arial, Helvetica, sans-serif;
       font-size: 8pt;
      white-space: nowrap;
   
     }
   }
  }
  .dropzone{
 
    width: 100%;
    
    border-width: 2px;
    border-color: rgb(102, 102, 102);
    border-style: dashed;
    border-radius: 5px;
    background-color: rgba(173, 230, 225, 0.116)
  }
  .uploadInstructions{
    font-style: italic;
    
  }
  .documentTitle {
    overflow-wrap: break-word;
    word-break:break-all;
    display: inline;
    width:200px;
    white-space:normal; 
  }
  .informationRequested{
    background-color: #f4f4f4;
    font-weight: bold;
     margin-left:+20px; 
            margin-right:20px;
  }
  }
   


